%h1= @article.title
%p= @article.author
%p= @article.content

%hr

%table
    %thead
        %th Content
        %th Action 
    %tbody
    - @comments.each do |comment|
        %tr
        %td= comment.content
        %td= link_to 'Edit', edit_article_comment_path(@article.id, comment.id)
        %td= link_to 'Delete', article_comment_path(@article.id, comment.id), method: :delete, data: { confirm: "Are you sure?" } 
= render 'comments/form'

%p= link_to 'Back', articles_path 
%p= link_to 'Delete', article_path(@article.id), method: :delete, data: {confirm: "Sure ka?"}